nav ul{
    position: relative;
    list-style-type: none;
    width:100%;
    padding-left: 0;
}
nav ul li.dropdown {
    height: 75px;
}

nav ul li a {
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: medium;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(9, 21, 129, 0.7);
}
nav ul ul {
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
    background-color: rgb(70, 110, 218, 0.5);
    border-radius: 5px;
    max-height: 205px;
    overflow-y: auto;
}

nav ul ul.openbottom {
    max-height: 328px;
    display: block;
    position: initial;
    overflow-y: auto;
    padding-left: 10px;
    background-color: transparent;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.active {
    background-color: rgba(9, 21, 129, 0.7);
}

nav ul .dropdown {
    position: relative;
}
nav ul .dropdown:hover ul.openright  {
    display: initial;
}
nav ul .dropdown:active  ul.openbottom  {
    display: block;
    position: initial;
}

.ant-menu-submenu-title {
    padding-left: 10px !important;
    color: white !important;
}

.ant-menu-item {
    padding-left: 15px !important;
}